# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# CMake artifacts
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
install_manifest.txt

# build directory
build

*.xml
/.idea/
cmake-build*